ul#name 
{
    background: #ff9999;
    padding: 20px;
}

ul#name li 
{
    background:  #ffe5e5;
    margin: 5px;
}

// ---------------------------------------

table
{
	width: 			220px;
}

td.letter
{
	width: 			20px;
	font-weight: 	bolder;
	font-size:		20pt;
	text-align: 	center;
    background:  	#FECACA;
}

td.phonic
{
	width: 			200px;
	font-size:		20pt;
    background:  	#ffe5e5;
	padding-left:  	15px;
}
